* {
  box-sizing: border-box;
}
a h1 {
  color: #404040;
}

a h1:visited {
  color: #404040;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Mono";
}

.fixed-header {
  top: 0;
  width: 100%;
  position: fixed;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toggle {
  margin-bottom: 10px;
}

h1 {
  font-family: "Poiret One";
  font-size: 50px;
  margin: 0;
  padding: 10px;
  display: block;
}

canvas {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.photo-feed {
  margin-top: 155px;
  text-align: center;
}

.fixed-btn {
  position: sticky;
  bottom: 0px;
  left: 25px;
  height: 100px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5vw;
  background-color: #fff;
  color: #212529;
  border-radius: 25px;
  border: 0.4px solid #404040;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
}

label {
  margin: 35px 30px 30px 30px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 25px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 10px;
}

.custom-file-upload:hover {
  background-color: #404040;
  color: #fff;
}
